.add-to-wallet-modal-container{
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height : 100vh;
   background-color: rgba(43, 34, 34, 0.217);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
}

.add-to-wallet-modal{
   background-color: rgb(235, 233, 233);
   /* min-width: 30vw;
   min-height: 50vh; */
   border-radius: 10px;
   /* z-index: 100; */
}
.add-to-waller-modal-header{
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   height: 30px;
   padding: 10px 0;
   background-color: rgb(222, 167, 167);
   display: flex;
   justify-content: center;
   align-items: center;
}

.add-to-waller-modal-header .close-btn{
   position: absolute;
   top: 0;
   right: 0;
   background-color: rgb(212, 31, 31);
   cursor: pointer;
}


