.home-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 450px;
}
.overlay-container {
   position: relative;
   width: 100%;
   flex: 1;
   background-image: url('./icons/homepage_overlay.svg');
   background-size: 100%;
   background-position: no-repeat right right;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .overlay-text {
   text-align: center;
   color: #fff;
   font-size: 2.5rem;
   font-weight: bold;
   max-width: 80%;
   padding: 2rem;
 }
 
